<h2> Каталог продуктов </h2>

<% @products.each do |product| %>

  <div class="product-item">
    <img src= <%= product.picture %> width="200" >
    <div class="product-list">
      <h3><%= link_to product.name, "/product/#{product.id}" %></h3>
      <span class="price">₽ <%= product.price %> </span>
      <a href="" class="button">В корзину</a>
    </div>
  </div>

<% end %>
